@{
    ViewBag.Title = "Contact";
}
<h2>iletilim sayfası</h2>
<h3>iş yeri bilgileri</h3>

<address>
    oğuz kaynar<br />
    cumhuriyet universitesi sivas<br />
    <abbr title="Phone">P:</abbr>
    90 532.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>