


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Derslerim</title>
</head>
<body>
    <h1>  verdiğim dersler</h1>
    <ul>
        <li> web programlama</li>
        <li> Masa ustu programlama</li>
        <li> Php</li>
        <li> ptyhon</li>
    </ul>


</body>
</html>
